/* Your Website Styles */

h1 {
	color: #C7FF00;
	font-family: 'Black Ops One', sans-serif;
	font-size: 8em;
	margin: 4px;
	text-align: right;
}

body {
	background-image: url('../img/steel.jpg'); 
	background-repeat: repeat;
	color: white;
	font-family: 'Coda'; sans-serif;
	margin: 80px
}

h3 {
	color: #FF3B2F;
	font-family: 'Black Ops One', sans-serif; }



/* Show Grid */

